.category {
  width: 20%;
}
.category-ul li a {
  text-transform: uppercase;
  color: var(--text-color);
  transition: all 0.2s;
}
.category-ul li a:hover {
  color: var(--hover-color);
  transition: all 0.2s linear;
}
.category-ul li {
  padding: 15px 0;
}
.category-ul li a {
  padding: 0;
}
.list-product {
  width: 80%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.product-item {
  margin-top: 17px;
  box-shadow: 0px 0px 1px 0px;
  border-radius: 10px;
}
.product-item:hover {
  box-shadow: 0px 0px 2px 0px;
}
.product-item h3 {
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0 0 5px;
  font-size: 14px;
  line-height: 1.4;
}
.image {
  text-align: center;
}
.content {
  margin: 0 10px;
}
.price {
  color: var(--price-color);
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin: 12px 0;
}
.name {
  min-height: 50px;
}
